body {
    background-color: #eee;
    color: #222;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: darkblue;
}

a {
    color: darkred;
}

img {
    border: 2px solid #333;
    margin: 10px 0;
}
